<div class="telefon">
    <a href="tel:+905061321406" title="Telefon" alt="Telefon"><i class="fa fa-phone"></i></a>
</div>


<div class="whatsapp">
    <a href="https://api.whatsapp.com/send?phone=+905061321406&amp;text=Merhaba,"
        target="_blank" title="WhatsApp" alt="WhatsApp"><i class="fab fa-whatsapp"></i></a>
</div>

<div class="instagram">
    <a href="https://www.instagram.com/musaguuzel/" target="_blank" title="instagram" alt="instagram"><i
            class="fab fa-instagram"></i></a>
</div>