ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

li {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 50%;

}

h2 {
    justify-content: center;
    display: flex;
    margin-top: 2em; 
    margin-bottom: 2em;
    font-family: Helvetica;
    font-size: xx-large;
}