.img-kurumsal {
    max-width: 35%;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    gap: 2em;
}

.text-content {
    width: 50%;
    text-align: center;

}

h1 {
    font-family: Helvetica;
    font-size: xx-large;
}

@media only screen and (max-width: 600px) {
    .img-kurumsal {
        display: flex;
        max-width: 50%;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-family: Helvetica;
        font-size: large;
    }
}